{% extends 'shop/basic.html' %}

{% block title %} CheckOut - My Awesome Cart{% endblock %}
{% block body %}
<div class="mainContainer">
<div class="container pb-5">

  <div class="col my-4">

    <h3>Step 1 - My Awesome Cart Express Checkout - Review Your Cart Items: </h3>
    <div class="my-4">

      <ul class="list-group" id="items">
        <!-- VERY IMPORTANT line to display cart items on checkout page (Also id="items" => helps in triggering <ul>....</ul> to display cart items on checkout page)  -->

      </ul>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mt-2">
          <li class="breadcrumb-item active" aria-current="page">
            Your cart total is <b>₹ <span id="totalPrice"></span></b>. Enter your details & place the order. Thanks for
            using My Awesome Cart
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="col my-4">
    <h3>Step 2 - Enter Address and other Details: </h3>

    <!--    CHECK OUT FORM starts here   -->
    <form method="post" action="/shop/checkout/">
      {% csrf_token %}
      <input type="hidden" name="itemsJson" id="itemsJson">
      
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstName">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="" required="">
        </div>
        <div class="col-md-6 mb-3">
          <label for="lastName">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="" required="">
        </div>
      </div>


      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="address1" name="address1" placeholder="1234 Main St">
      </div>

      <div class="form-group">
        <label for="inputAddress2">Address line 2</label>
        <input type="text" class="form-control" id="address2" name="address2"
          placeholder="Apartment, studio, or floor">
      </div>


      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" id="city" name="city">
        </div>

        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <input type="text" class="form-control" id="state" name="state" placeholder="State">
        </div>

        <div class="form-group col-md-2">
          <label for="inputZip">Zip</label>
          <input type="text" class="form-control" id="zip_code" name="zip_code">
        </div>
      </div>

      <div class="form-group">
        <label for="inputPhone">Phone Number</label>
        <input type="tel" class="form-control" id="inputPhone">
      </div>    
      
      <button class="btn btn-primary" type="submit">Place Order</button>
    
    </form>

    
  </div>

</div>
</div>




{% endblock %}

{% block js %}
<script>

  if (localStorage.getItem('cart') == null) {
    var cart = {};
  } else {
    cart = JSON.parse(localStorage.getItem('cart'));

  }


  console.log(cart);
  var sum = 0;
  var totalPrice = 0;


  if ($.isEmptyObject(cart)) {
    //If object is empty
    mystr = `<p>Your Cart is Empty. Please add some items to your cart before checking out.</p>`
    $('#items').append(mystr);
  }
  else {
    for (item in cart) {

      let name = cart[item][1];
      let qty = cart[item][0];
      let itemPrice = cart[item][2];
      sum = sum + qty
      totalPrice = totalPrice + qty * itemPrice
      mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                      ${name}
                      <span class="badge badge-primary badge-pill">${qty}</span>
                  </li>`
      $('#items').append(mystr);                                                   // could also have used '.innerHTML' of Javascript but instead, chose '.append' function of Jquery
    }


  }


  document.getElementById('cart').innerHTML = sum;
  document.getElementById('totalPrice').innerHTML = totalPrice;
  $('#itemsJson').val(JSON.stringify(cart));
  // localStorage.clear();                                                         // To look forward to


  $('#popcart').popover();
  // document.getElementById('popcart').setAttribute('data-content', '<h5>Cart for your items in cart</h5>')
  updatePopover(cart);
  function updatePopover(cart) {
    // console.log('We are inside updatePopover');
    var popStr = "";
    popStr = popStr + "<h5> Cart for your items in my shopping cart </h5><div class='mx-2 my-2'>";
    var i = 1;
    for (var item in cart) {
      popStr = popStr + "<b>" + i + "</b>. ";
      popStr = popStr + document.getElementById('name' + item).innerHTML.slice(0, 19) + "... Qty: " + cart[item][0] + '<br>';
      i = i + 1;
    }

    popStr = popStr + "</div> <a href='/shop/checkout' <button class='btn btn-primary' id = 'checkout'>CheckOut</a>   <button class='btn btn-primary' onclick='clearCart()' id = 'clearcart'>Clear Cart</button>"
    // console.log(popStr);
    document.getElementById('popcart').setAttribute('data-content', popStr);
    //$('#popcart').popover('show');
  }









  {% if thank %}
  // <!--  ALERT when checkout is completed  -->
  alert('Thanks for Ordering. Your order is id {{id}}. Use this to track your order using order tracker.');
  localStorage.clear();
  document.location = "/shop";             // To redirect the user to the HomePage when he clicks on the alert box
  {% endif %}




  // console.log(cart);
</script>




{% endblock %}